    * {
        color: white;
    }
    
    #uncompleted_text,
    #completed_text {
        font-size: 55px;
        position: absolute;
        white-space: nowrap;
        left: 25%;
    }
    
    #completed_bg,
    #uncompleted_bg {
        position: absolute;
        white-space: nowrap;
        width: 100%;
        border-color: black;
        border-top: solid;
        border-bottom: solid;
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 15px;
        line-height: 55px;
        border-width: 2px;
    }
    
    #completed_bg {
        background-color: rgba(190, 188, 184, 0.3);
        left: 25%;
    }
    
    #uncompleted_bg {
        left: 0;
        width: 25%;
        background-color: rgb(77, 114, 77);
        z-index: -1;
        border-right: solid;
    }
    
    #completed_background {
        position: absolute;
        background-color: black;
    }
    
    #uncompleted_text {
        color: rgb(91, 89, 89);
        /* color: white */
    }
    
    #main {
        left: -10vw;
        width: 100%;
    }
    
    body {
        height: 100%;
        overflow: hidden;
        font-family: cursive;
        /* background-color: rgb(14, 14, 123); */
        background-color: #00003f;
        /* background-color: rgb(228, 225, 225); */
    }
    
    #timer {
        /* top: 180px; */
        padding-left: 25%;
        font-size: 5vh;
    }
    
    #name {
        text-align: center;
        padding-top: 0%;
        font-size: 9vh;
        margin-top: 0;
    }
    
    #stats {
        position: relative;
        width: fit-content;
        height: fit-content;
        text-align: inherit;
        left: 100%;
        transform: translateX(-100%);
        z-index: 1;
        border-radius: 20px;
        font-size: 2vh;
    }
    
    h2 {
        text-align: center;
    }
    
    #stats-table {
        text-align: center;
    }
    
    #keyboard {
        top: 105px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        height: 50vh;
        width: 90vw;
    }
    
    #keyboard_canvas {
        position: absolute;
        left: 50%;
        height: 50vh;
        width: 100vh;
        transform: translateX(-50%);
    }
    
    #lang {
        color: black;
        position: absolute;
        top: 5vh;
        left: 99%;
        transform: translateX(-100%);
        width: fit-content;
    }
    
    #lang option {
        color: black;
        width: fit-content;
    }