    * {
        color: white;
    }
    
    #uncompleted_text,
    #completed_text {
        font-size: 55px;
        position: absolute;
        white-space: nowrap;
        left: 25%;
    }
    
    #completed_bg,
    #uncompleted_bg {
        position: absolute;
        white-space: nowrap;
        width: 100%;
        border-color: black;
        border-top: solid;
        border-bottom: solid;
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 15px;
        line-height: 55px;
        border-width: 2px;
    }
    
    #completed_bg {
        background-color: rgba(190, 188, 184, 0.3);
        left: 25%;
    }
    
    #uncompleted_bg {
        left: 0;
        width: 25%;
        background-color: rgb(77, 114, 77);
        z-index: -1;
        border-right: solid;
    }
    
    #completed_background {
        position: absolute;
        background-color: black;
    }
    
    #uncompleted_text {
        color: rgb(91, 89, 89);
        /* color: white */
    }
    
    #main {
        left: -10vw;
        width: 100%;
    }
    
    body {
        height: 100%;
        overflow: hidden;
        font-family: cursive;
        /* background-color: rgb(14, 14, 123); */
        /*background-color: #00003f;*/
        /* background-color: rgb(228, 225, 225); */
        background-image: url('https://picsum.photos/seed/picsum/1920/1282');
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Cover the entire element */
        background-position: center; /* Center the image */
    }
    
    #timer {
        /* top: 180px; */
        padding-left: 25%;
        font-size: 5vh;
    }
    
    .name {
        text-align: center;
        padding-top: 0%;
        font-size: 9vh;
        margin-top: 0;
    }

    #words-list {
        background-color: transparent;
        border-width: 0;
    }
    #time-limit {
        background-color: transparent;
    }

    .options {
        position: relative;
        width: fit-content;
        height: fit-content;
        text-align: inherit;
        left: 100%;
        transform: translateX(-100%);
        z-index: 1;
        border-radius: 20px;
        font-size: 2vh;
    }
    
    h2 {
        text-align: center;
    }
    
    #stats-table {
        font-size: x-large;
        margin: auto;
        text-align: center;
    }

    #stats-table {
        width: 50%; /* Adjust as necessary */
        margin: 0 auto;
        border-collapse: collapse;
    }

    #stats-table th, #stats-table td {
        padding: 10px; /* Adjust as necessary */
        text-align: center;
    }

    #stats-table th {
        border-bottom: 1px solid #ddd; /* Adjust as necessary */
    }


    #keyboard {
        top: 105px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        height: 50vh;
        width: 90vw;
    }
    
    #keyboard_canvas {
        position: absolute;
        left: 50%;
        height: 50vh;
        width: 100vh;
        transform: translateX(-50%);
    }
    
    #lang {
        color: black;
        position: absolute;
        top: 5vh;
        left: 99%;
        transform: translateX(-100%);
        width: fit-content;
    }
    
    select option {
        font-size: 2vh;
        background-color: #00003f;
        color: #fff;
        border: none;
        border-radius: 0;
    }
    
    #lang {
        font-size: 2vh;
        background-color: transparent;
        color: white;
        border-radius: 20px;
        border: none;
    }

    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        z-index: 1;
    }

    .popup-content {
        background-color: #00003f;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }

    .popup-close-btn {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .popup-close-btn:hover,
    .popup-close-btn:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }